<h2>Great! Looking forward to it.</h2>

<p>We need 4 local volunteers to make this event work. We currently have 2 of 4 confirmed.</p>

<p>Send this link to a friend, which will explain it, and let them tell us if they can come.</p>

<p><%= invite_url(@attendance.code) %></p>
