<h2>Great!</h2>

<p>We've just sent you a text message with the details</p>

<h2>Would you like to bring a friend?</h2>

<p>Just send them this invitation link</p>

<p class="invite_link"><%= link_to invite_url(@attendance.code), invite_url(@attendance.code) %></p>

<p><sub>Invitation link expires in 7 days</sub></p>

<p>
  Each event needs 4
  <% if @attendance.for_refugee? %>
    refugees
  <% else %>
    local volunteers
  <% end %>
</p>

<p>
  We currently have <%= @attendance.seats_left %> seats left around the table
</p>

<p>We've reserved 1 seat so you can bring a friend</p>
